openapi: 3.0.0
info:
  title: Production Accounts API V3
  description: API for managing production accounts.
  version: 1.0.0
servers:
  - url: https://www.csas.cz/webapi/api/v3/accounts/
    description: Production server
  - url: https://webapi.developers.erstegroup.com/api/csas/public/sandbox/v3/accounts/
    description: Sandbox server

paths:
  /my/accounts:
    get:
      summary: Get account details
      description: Get a list of accounts for the authenticated user.
      operationId: getAccounts
      parameters:
        - name: size
          in: query
          required: false
          schema:
            type: integer
          description: Number of accounts to return
        - name: page
          in: query
          required: false
          schema:
            type: integer
          description: Page number to return
      responses:
        '200':
          description: A list of accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  pageNumber:
                    type: integer
                    description: Current page number
                  pageCount:
                    type: integer
                    description: Total number of pages
                  pageSize:
                    type: integer
                    description: Number of accounts per page
                  accounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 403
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          type: string
                          example: TOKEN_INVALID
  /my/accounts/{id}/balance:
    get:
      summary: Get account balance
      description: Get the balance of a specific account by ID.
      operationId: getAccountBalance
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the account
      responses:
        '200':
          description: Account balance details
          content:
            application/json:
              schema:
                type: object
                properties:
                  balances:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: object
                          properties:
                            codeOrProprietary:
                              type: object
                              properties:
                                code:
                                  type: string
                                  example: CLAV
                        amount:
                          type: object
                          properties:
                            value:
                              type: number
                              example: 48923.15
                            currency:
                              type: string
                              example: CZK
                        creditDebitIndicator:
                          type: string
                          example: DBIT
                        date:
                          type: object
                          properties:
                            dateTime:
                              type: string
                              format: date-time
                              example: 2017-02-17T12:32:41.0Z
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 403
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          type: string
                          example: TOKEN_INVALID
  /my/accounts/{id}/transactions:
    get:
      summary: Overview of transactions
      description: Paginated and optionally filtered (by dates) transaction list for given account.
      operationId: getTransactions
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Unique system identification of the client account
        - name: fromDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Start date for filtering transactions
        - name: toDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: End date for filtering transactions
      responses:
        '200':
          description: A list of transactions
          content:
            application/json:
              schema:
                type: object
                properties:
                  pageNumber:
                    type: integer
                    description: Current page number
                  pageCount:
                    type: integer
                    description: Total number of pages
                  pageSize:
                    type: integer
                    description: Number of transactions per page
                  transactions:
                    type: array
                    items:
                      type: object
                      properties:
                        entryReference:
                          type: string
                          description: Unique transaction reference
                        amount:
                          type: object
                          properties:
                            value:
                              type: number
                              description: Transaction amount
                            currency:
                              type: string
                              description: Transaction currency
                        creditDebitIndicator:
                          type: string
                          description: Indicates if the transaction is a credit or debit
                        status:
                          type: string
                          description: Status of the transaction
                        bookingDate:
                          type: object
                          properties:
                            date:
                              type: string
                              format: date
                              description: Date when the transaction was booked
                        valueDate:
                          type: object
                          properties:
                            date:
                              type: string
                              format: date
                              description: Date when the transaction was valued
                        bankTransactionCode:
                          type: object
                          properties:
                            proprietary:
                              type: object
                              properties:
                                code:
                                  type: integer
                                  description: Proprietary code of the transaction
                                issuer:
                                  type: string
                                  description: Issuer of the proprietary code
                        entryDetails:
                          type: object
                          properties:
                            transactionDetails:
                              type: object
                              properties:
                                references:
                                  type: object
                                  properties:
                                    accountServicerReference:
                                      type: string
                                      description: Reference provided by the account servicer
                                    chequeNumber:
                                      type: string
                                      description: Cheque number
                                amountDetails:
                                  type: object
                                  properties:
                                    instructedAmount:
                                      type: object
                                      properties:
                                        amount:
                                          type: object
                                          properties:
                                            value:
                                              type: number
                                              description: Instructed amount value
                                            currency:
                                              type: string
                                              description: Instructed amount currency
                                    counterValueAmount:
                                      type: object
                                      properties:
                                        amount:
                                          type: object
                                          properties:
                                            value:
                                              type: number
                                              description: Counter value amount
                                            currency:
                                              type: string
                                              description: Counter value currency
                                        currencyExchange:
                                          type: object
                                          properties:
                                            sourceCurrency:
                                              type: string
                                              description: Source currency
                                            targetCurrency:
                                              type: string
                                              description: Target currency
                                            exchangeRate:
                                              type: number
                                              description: Exchange rate used
                                relatedParties:
                                  type: object
                                  properties:
                                    debtor:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                          description: Name of the debtor
                                    debtorAccount:
                                      type: object
                                      properties:
                                        identification:
                                          type: object
                                          properties:
                                            iban:
                                              type: string
                                              description: IBAN of the debtor account
                                            other:
                                              type: object
                                              properties:
                                                identification:
                                                  type: string
                                                  description: Other identification of the debtor account
                                    creditor:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                          description: Name of the creditor
                                    creditorAccount:
                                      type: object
                                      properties:
                                        identification:
                                          type: object
                                          properties:
                                            iban:
                                              type: string
                                              description: IBAN of the creditor account
                                            other:
                                              type: object
                                              properties:
                                                identification:
                                                  type: string
                                                  description: Other identification of the creditor account
                                relatedAgents:
                                  type: object
                                  properties:
                                    creditorAgent:
                                      type: object
                                      properties:
                                        financialInstitutionIdentification:
                                          type: object
                                          properties:
                                            bic:
                                              type: string
                                              description: BIC of the creditor agent
                                    debtorAgent:
                                      type: object
                                      properties:
                                        financialInstitutionIdentification:
                                          type: object
                                          properties:
                                            bic:
                                              type: string
                                              description: BIC of the debtor agent
                                remittanceInformation:
                                  type: object
                                  properties:
                                    unstructured:
                                      type: string
                                      description: Unstructured remittance information
                                    structured:
                                      type: object
                                      properties:
                                        creditorReferenceInformation:
                                          type: object
                                          properties:
                                            reference:
                                              type: array
                                              items:
                                                type: string
                                              description: Structured creditor reference information
                                additionalTransactionInformation:
                                  type: string
                                  description: Additional information about the transaction
                                additionalRemittanceInformation:
                                  type: string
                                  description: Additional remittance information
                                additionalTransactionDescription:
                                  type: string
                                  description: Additional transaction description
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 403
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          type: string
                          example: TOKEN_INVALID
  /my/accounts/{id}/statements:
    get:
      summary: Get account statements
      description: >
        Get a list of statements for a specific account by ID. Resource for obtaining a list of statements for an account and downloading a statement in available formats.

        Supported statement formats:

        - George: PDF, ABO, CSV (more details about data statements structure: https://www.csas.cz/cs/dokumenty-ke-stazeni#/995/George)
        - Business 24: PDF, XML, MT940, ABO (more details about data statements structure: https://www.csas.cz/cs/dokumenty-ke-stazeni#/175/BUSINESS-24)
        - George Business: PDF, XML, MT940, ABO, CSV (more details about data statements structure: https://www.csas.cz/cs/dokumenty-ke-stazeni#/1478/George-Business)
      operationId: getAccountStatements
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Unique system identification of the client account
          example: D2C8C1DCC51A3738538A40A4863CA288E0225E52
        - name: fromDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Date from which the statement history should be obtained
          example: 2022-03-07
        - name: toDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Date to which the statement history should be obtained (including this moment in time)
          example: 2022-04-07
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum: [pdf, xml, xml-data, abo-standard, abo-internal, abo-standard-extended, abo-internal-extended, csv-comma, csv-semicolon, mt940]
          description: Selected statement format
          example: pdf
        - name: size
          in: query
          required: false
          schema:
            type: integer
          description: Pagination - Number of entries per page (max. 100)
          example: 10
        - name: page
          in: query
          required: false
          schema:
            type: integer
          description: Pagination - The desired page (indexed from zero)
          example: 0
      responses:
        '200':
          description: A list of account statements
          content:
            application/json:
              schema:
                type: object
                properties:
                  pageNumber:
                    type: integer
                    description: Current page number
                  pageCount:
                    type: integer
                    description: Total number of pages
                  pageSize:
                    type: integer
                    description: Number of entries per page
                  nextPage:
                    type: integer
                    description: Next page number
                  accountStatements:
                    type: array
                    items:
                      type: object
                      properties:
                        accountStatementId:
                          type: string
                          description: Unique identifier of the account statement
                        year:
                          type: number
                          description: Year of the statement
                        month:
                          type: number
                          description: Month of the statement
                        sequenceNumber:
                          type: number
                          description: The account statement's sequence number
                        period:
                          type: string
                          description: Period of the statement
                          example: MONTH
                        dateFrom:
                          type: string
                          format: date
                          description: The start-date of the statement period
                        dateTo:
                          type: string
                          format: date
                          description: The end-date of the statement period
                        formats:
                          type: array
                          items:
                            type: object
                            properties:
                              availability:
                                type: string
                                description: Availability of the format
                                example: IMMEDIATE
                              format:
                                type: string
                                enum: [pdf, xml, xml-data, abo-standard, abo-internal, abo-standard-extended, abo-internal-extended, csv-comma, csv-semicolon, mt940]
                                description: Format of the statement
        '400':
          description: Invalid date value or format
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 400
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          type: string
                          example: DT01
        '403':
          description: Invalid/expired access token = user is not authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 403
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          type: string
                          example: TOKEN_INVALID
        '404':
          description: Invalid/unknown account id or user has no valid rights
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 404
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          type: string
                          example: ID_NOT_FOUND
        '429':
          description: Exceeded hourly quota of allowed calls
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 429
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          type: string
                          example: REQUEST_QUOTA_EXCEEDED
        '500':
          description: General error on server side
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 500
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          type: string
                          example: INTERNAL_SERVER_ERROR
        '503':
          description: Connection timeout, service is not available
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 503
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          type: string
                          example: SERVICE_UNAVAILABLE
  /my/accounts/{id}/statements/{accountStatementId}/download:
    get:
      summary: Download account statement
      description: Download a specific account statement by ID.
      operationId: downloadAccountStatement
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Unique system identification of the client account
          example: D2C8C1DCC51A3738538A40A4863CA288E0225E52
        - name: accountStatementId
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier of the account statement
          example: 002498aa881201c7
        - name: format
          in: query
          required: true
          schema:
            type: string
            enum: [pdf, xml, xml-data, abo-standard, abo-internal, abo-standard-extended, abo-internal-extended, csv-comma, csv-semicolon, mt940]
          description: Selected statement format
          example: pdf
      responses:
        '200':
          description: Account statement file
          content:
            application/pdf:
              schema:
                type: string
                format: binary
                description: Account statement file in the pdf format
            application/xml:
              schema:
                type: string
                format: binary
                description: Account statement file in the xml format
            application/xml-data:
              schema:
                type: string
                format: binary
                description: Account statement file in the xml-data format
            application/abo-standard:
              schema:
                type: string
                format: binary
                description: Account statement file in the abo-standard format
            application/abo-internal:
              schema:
                type: string
                format: binary
                description: Account statement file in the abo-internal format
            application/abo-standard-extended:
              schema:
                type: string
                format: binary
                description: Account statement file in the abo-standard-extended format
            application/abo-internal-extended:
              schema:
                type: string
                format: binary
                description: Account statement file in the abo-internal-extended format
            text/csv:
              schema:
                type: string
                format: binary
                description: Account statement file in the csv format
            text/csv-comma:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    format: binary
                    description: Account statement file in the csv-comma format
            text/csv-semicolon:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    format: binary
                    description: Account statement file in the csv-semicolon format
            application/mt940:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    format: binary
                    description: Account statement file in the mt940 format
        '400':
          description: Parameter value is not valid or format is not found or unsupported
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 400
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          type: string
                          example: PARAMETER_INVALID
        '403':
          description: Invalid/expired access token = user is not authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 403
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          type: string
                          example: TOKEN_INVALID
        '404':
          description: Missing parameter, e.g., format is not selected or Invalid/unknown account id, account statement id or user has no valid rights
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 404
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          type: string
                          example: ID_NOT_FOUND
        '429':
          description: Exceeded hourly quota of allowed calls
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 429
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          type: string
                          example: REQUEST_QUOTA_EXCEEDED
        '500':
          description: General error on server side
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 500
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          type: string
                          example: INTERNAL_SERVER_ERROR
        '503':
          description: Connection timeout, service is not available
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 503
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          type: string
                          example: SERVICE_UNAVAILABLE

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKeyAuth:
      type: apiKey
      in: header
      name: WEB-API-key
  schemas:
    Account:
      type: object
      properties:
        id:
          type: string
          description: Unique system ID of the client's account
        identification:
          type: object
          properties:
            iban:
              type: string
              description: International Bank Account Number
            other:
              type: string
              description: Other account identification
        currency:
          type: string
          description: Currency of the account
        servicer:
          type: object
          properties:
            bankCode:
              type: string
              description: Bank code
            countryCode:
              type: string
              description: Country code
            bic:
              type: string
              description: Bank Identifier Code
        nameI18N:
          type: string
          description: Internationalized name of the account
        productI18N:
          type: string
          description: Internationalized product name
        ownersNames:
          type: array
          items:
            type: string
          description: List of account owners' names
        relationship:
          type: object
          properties:
            isOwner:
              type: boolean
              description: Indicates if the authenticated user is the owner of the account
        suitableScope:
          type: object
          properties:
            AISP:
              type: string
              description: Account Information Service Provider scope
            PISP:
              type: string
              description: Payment Initiation Service Provider scope
        status:
          type: string
          enum:
            - BOOK
            - PENDING
          description: Status of the account
        relatedAgents:
          type: object
          properties:
            creditorAgent:
              type: string
              description: Information about the creditor's/recipient's bank
            debtorAgent:
              type: string
              description: Information about the debtor's/payer's bank
        currencyExchange:
          type: object
          properties:
            targetCurrency:
              type: string
              description: Currency of the client's account
            exchangeRate:
              type: number
              description: Exchange rate used during the conversion
    AccountBalance:
      type: object
      properties:
        id:
          type: string
          description: Opaque system ID of the account
        balance:
          type: number
          description: Current balance of the account
        currency:
          type: string
          description: Currency of the account balance
    TransactionList:
      type: object
      properties:
        transactions:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Unique system ID of the transaction
              amount:
                type: number
                description: Amount of the transaction
              currency:
                type: string
                description: Currency of the transaction
              bookingDate:
                type: string
                format: date
                description: Booking date of the transaction
              description:
                type: string
                description: Description of the transaction
    StatementList:
      type: object
      properties:
        pageNumber:
          type: number
          description: Page number
        pageCount:
          type: number
          description: Total number of pages
        pageSize:
          type: number
          description: Number of entries per page
        nextPage:
          type: number
          description: Next page number
        accountStatements:
          type: array
          items:
            type: object
            properties:
              accountStatementId:
                type: string
                description: Unique identifier of the account statement
              year:
                type: number
                description: Year of the statement
              month:
                type: number
                description: Month of the statement
              sequenceNumber:
                type: number
                description: The account statement's sequence number
              period:
                type: string
                description: Period of the statement
                example: MONTH
              dateFrom:
                type: string
                format: date
                description: The start-date of the statement period
              dateTo:
                type: string
                format: date
                description: The end-date of the statement period
              formats:
                type: array
                items:
                  type: object
                  properties:
                    availability:
                      type: string
                      description: Availability of the format
                      example: IMMEDIATE
                    format:
                      type: string
                      enum: [pdf, xml, xml-data, abo-standard, abo-internal, abo-standard-extended, abo-internal-extended, csv-comma, csv-semicolon, mt940]
                      description: Format of the statement

security:
  - bearerAuth: []
  - ApiKeyAuth: []
